body {
  background-color: lightblue;
  font-family: Ariel, sans-serif;
  align-content: center;
}

h1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

h1 {
  text-align: center;
}

h3 {
  color: blue;
}

h2 {
  color: purple;
}


    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: .2fr;
      max-width: 80vw;
      margin: auto;
    }

    /*Here the header "item" is set to row 1 and set to span column lines 1-5, ie.
  all 4 columns that were set up in the container*/

    .projects {
      background-color: #ff84ff;
      grid-row: 1;
      grid-column: 1/2;
      padding-left: 2rem;
			padding-bottom: 1rem;
      padding-right: 2rem;
      padding-top: 1rem;
    }

    .exercises {
      background-color: #e7b2f7;
      grid-row: 1;
      grid-column: 2/3;
      padding-left: 2rem;
      padding-bottom: 1rem;
      padding-right: 2rem;
      padding-top: 1rem;
    }


    .links {
      grid-row: 1;
      grid-column: 3/4;
      background-color: #afb5ff;
      padding-left: 2rem;
      padding-bottom: 1rem;
      padding-right: 2rem;
      padding-top: 1rem;

    }

    section {
      background-color: #96c3f7;
      grid-row: 1;
      grid-column: 4/5;
      padding-left: 2rem;
      padding-bottom: 1rem;
      padding-right: 2rem;
      padding-top: 1rem;
    }
